/* estilo para tablets */
@media only screen and (min-width: 768px) and (max-width: 959px){
	/* home */
	.introducao {
		margin-top: 60px;
	}
	.sobre:after {
		content: "";
		width: 100%;
		height: 81.5px;
		display: block;
		background: url("../img/especiais/linhas.svg") no-repeat center;
		background-size: 525px;
			position: absolute;
		top: 172px;
		z-index: -1;
		
	}

	.sobre_lista li {
		padding: 50px 0px 20px 0;
		text-align: center;
	}
	/* sobre */
	.introducao-interna{
	margin-top: 60px;
}
/* produtos */
	.produto_item{
		color: #fff;
		margin-bottom: 40px;
	}
	.produto_item h2{
		top: -200px;
		}
	.produto_info ul li{
				width: 175px; 
			height: 40px;
			padding-top: 10px;
			}
		
	.produto_info ul {
		padding-top: 28px; 
 }
 .produto_info p{
	font-size: 16px;
  padding: 15px 15px 0 15px;
	height: 105px;
}

} /* Final do estilos para tablet*/
/* estilos para smartphone */
@media only screen and (max-width: 767px){
/* header */
	.header {
		position: relative;

	}

	.header img{
		margin: 0 auto;
	}
	.header_menu {
		text-align: center;
	}
	.header_menu ul li {
		margin: 5px;
		padding: 0;
	}
	.header_menu ul li a {
		border: 4px solid #a28028;
		width: 136px;
		display: block;
		float: left;
		padding: 10px 0;
	}
	.header_menu ul li a:hover {
		border-color: rgb(202, 199, 199);
	} 

	/* home */
	.introducao {
		margin-top: 0;
		padding-top: 10px;
		background: url("../img/home-capa-mobile.jpg") no-repeat center;
		background-size: cover;
	}
	.introducao h1{
		font-size: 36px;
	}
	.quote-interno {
		margin-bottom: 190px;
	}
	/* call */
	.call {
		text-transform: uppercase;
		padding-bottom: 0;
		padding-top: 0;
		text-align: center;
	}
	/* produtos */
	.produtos_lista li {
		background-color: #122910;
		margin-bottom: 10px;
	}
	/* parceiros */
	.parceiros_lista li {
		margin:0 ;
		padding: 0;
		margin-bottom: 10px;
	}
	.parceiros .call {
		margin-top: 20px;
	}

	/* sobre */
	.sobre:after {
		display: none;
	}

	.sobre_lista li {
		padding: 0 10px 0 10px;
		text-align: center;
	}

	.footer p {
		font-size: 14px;
		font-weight: 20px;
		padding: 0 10px 10px 0px;
	}
	.grid-1 {
		width: 70px;
		float: left;

	}
	/* sobre */

	.introducao-interna{
		margin-top: 0;
		margin-bottom: 10px;
		padding-top: 40px;
	}

	.missao-sobre p {
	padding-bottom: 10px;
	}

	.grid-5 h3{
		padding-top: 0;
	}
	.subtitulo {
		padding: 30px 0 15px 0;
	}
	.quebra-sobre { 
		margin-top: 0;
	}

	/* produtos */
	.interna_produtos{
		margin-bottom: 30px;
	}
	.produto_item{
		color: #fff;
		margin-bottom: 10px;
		margin-top: 0;
		
	}
	.produto_item img{
		width: 300px;
		}
	.produto_item h2{
		top: -120px;
		font-size: 20px;
		}
	.produto_info ul li{
				width: 143px; 
				font-size: 14px;
			height: 40px;
			padding-top: 5px;
			}
		
	.produto_info ul {
		padding-bottom: 90px;
 }
 .produto_info p{
	font-size: 16px;
  padding: 15px 15px 0 15px;
	height: 105px;
	line-height: 20px;
	margin-bottom: 0;
}
.form {
  padding-right: 0px;
  }
}