/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E8EFEC;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
img {
  display: block;
  max-width: 100%;
}

.btn {
  border: 4px #a28028 outset;
  font-size: 12;
  background: #122910;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.btn:hover {
  color: #a28028;
}
.subtitulo {
  padding: 60px 0 15px 0;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #081307;
}
.subtitulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #a28028;
  margin: 5px auto 5px auto;
}
.h3-tipo1 {
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 10px;
  color: #fff;
}
.produto .h3-tipo1::after,
.sobre .h3-tipo1::after, .orcamento .h3-tipo1::after,
.footer .h3-tipo1::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #a28028;
  margin: 5px auto 5px auto;
}
/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #081307;
  z-index: 1;
}
.header_menu {
  text-align: right;
}
.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
  padding: 15px;
  margin-top: 10px;
}
.header_menu ul li a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}
.header_menu ul li a:hover {
  color: #a28028;
}
.header_menu ul li a.menu_ativo{
  color: #a28028;
  border-bottom: 2px #a28028 inset;
}


/* home */


/* home - Introdução */
.introducao {
  width: 100%;
  height: 380px;
  background: url("../img/home-capa.jpg") no-repeat center;
  background-size: cover;
  margin-top: 70px;
  text-align: center;
  padding-top: 30px;
}
.introducao h1 {
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.quote-interno {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 215px;
  color: #fff;
}
.quote-interno p:before,
.quote-interno p:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #a28028;
  margin: 5px auto 5px auto;
}
.quote-interno p {
  font-style: italic;
}
/* home - introducao interna */
.introducao-interna {
  width: 100%;
  height: 160px;
  color: #fff;
  background-size: cover;
  margin-top: 70px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 60px;
}
.introducao-interna h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #a28028;
  margin: 5px auto 5px auto;
}
.introducao-interna h1 {
  font-size: 36px;
  text-transform: uppercase;
}
.introducao-interna p {
  text-transform: uppercase;
}

/* home - produtos */
.produtos {
  border-bottom: 2px #a28028;
  border-style: inset;
  padding-bottom: 40px;
}

.produtos p {
  text-align: center;
  color: #fff;
  padding: 5px;
}

.call {
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
.call p {
  color: #081307;
  padding-bottom: 20px;
  text-align: center;
  clear: both;
}
.produtos_lista li {
  background-color: #122910;
  margin-bottom: 30px;
}
/* home - parceiros */
.parceiros {
  border-bottom: 2px #a28028;
  border-style: inset;
  padding-bottom: 40px;
}

.parceiros_lista li {
  padding-bottom: 20px;
}
.parceiros img {
  margin: 0 auto;
}
/* home - sobre */
.sobre {
  padding-bottom: 40px;
}
.sobre .h3-tipo1 {
  color: #081307;
}
.sobre:after {
  content: "";
  width: 100%;
  height: 81.5px;
  display: block;
  background: url("../img/especiais/linhas.svg") no-repeat center;
    position: absolute;
  top: 172px;
  z-index: -1;
}
.sobre_lista li {
  padding: 50px 35px 20px 35px;
  text-align: center;
}
.sobre img {
  border: 3px #122910 inset;
  margin: 0 auto;
}
/* home - quebra */
.quebra {
  padding-top: 100px;
  text-align: center;
  width: 100%;
  height: 260px;
  background: url(../img/bg-coach.jpg) no-repeat center;
  background-size: cover;
}
.quebra .quote-interno {
  max-width: 430px;
}
/* home - footer */
.footer {
  color: #fff;
  background-color: #081307;
  padding: 20px 0;
}
.footer h3 {
  text-align: left;
}
.footer p {
  font-size: 14px;
  font-weight: 20px;
  padding: 0 100px 10px 0px;
}
.footer .h3-tipo1::after {
  margin: 5px 0 10px 0;
}
.redes-sociais li:hover {
  padding: 2px;
} /*Home - fim*/

/* page - sobre */

.interna_sobre {
  background: url("../img/sobre-capa.jpg") no-repeat center;
  background-size: cover;
}
.missao-sobre h3 {
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 10px;
  color: #081307;
}
.missao-sobre h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #a28028;
  margin: 5px 0 10px 0;
}
.missao-sobre {
  color: #081307;
}
.missao-sobre p {
  font-size: 18px;
  line-height: 25px;
  padding: 0 20px 60px 0px;
}
.missao-sobre ul {
  line-height: 25px;
  font-size: 18px;
}
.interna_sobre {
  border-style: none;
}
 .quebra-sobre { 
  margin-top: 180px;
}

/* page - sobre -fim */

/* page-produtos */
.interna_produtos {
  background: url("../img/produtos-capa.jpg") no-repeat center;
  background-size: cover;
}
/* mostruário */
.produto_info{
  margin-bottom: 20px;
  font-size: 18px;
  background-color: #0A1C10;
  
}
.produto_item{
  color: #fff;
  margin-bottom: 60px;
}

.produto_info p{
  font-size: 18px;
  padding: 30px 20px 0 20px;
  line-height: 25px;
  height: 150px;
}
.produto_info ul {
   padding-top: 20px; 
}
.produto_info ul li{
  background-color: #E8EFEC;
  color: #081307;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  float: left;
 width: 222px; 
  height: 50px;
  margin-left: 5px;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 15px;
}
.produto_item h2{
font-size: 36px;
text-transform: uppercase;
letter-spacing: 0.1em;
position: relative;
top: -250px;
text-align: center;
margin-bottom: -45px;
}
.produto_item h2::after, .produto_item h2::before{
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #a28028;
  margin: 5px auto 5px auto;
  position: relative;
  text-align: center;
}
/* orçamento */

.orcamento {
  background-color: #081307;
  width: 100%;
  color: #fff;
  padding: 40px 0;
}
.orcamento h3{
  padding-bottom: 30px;
}
.form {
  padding-right: 60px;
  }
.form label{
 display: block;
 line-height: 25px;
}
.form input:hover, .form textarea:hover{
  border: 2px solid #a28028;
}
.form input{
  display: block;
  font-size: 14px;
  width: 100%;
  padding: 5px 10px;
  outline: none;
  margin-bottom: 10px;
  color: #1C3A19;
}
.form textarea{
  display: block;
  font-size: 14px;
  width: 100%;
  height: 100px;
  padding: 5px 10px;
  outline: none;
  color: #1C3A19;
}
.form .btn{
margin-top: 15px;
border: 3px inset #a28028;
}
.dados h3{
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
  padding-bottom: 10px;
}
.dados p{
  font-size: 18px;
  line-height: 25px;

}
.orcamento .redes-sociais h3{
  padding-top: 40px;
  padding-bottom: 10px;
}
.orcamento .redes-sociais ul{
  margin-left: 20px;

}

/* page-produtos - fim */

/* JAVASCRIPT */
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 1000ms;
  z-index: 1;
}
.js [data-anime] {
  opacity: 0;
}
.js .fadeInDown {
  transform: translate3d(0,-20px,0);
}
.js .fadeInUp {
  transform: translate3d(0,20px,0);
}
.js .fadeInRight {
  transform: translate3d(20px,-0,0);
}
.js .fadeInLeft {
  transform: translate3d(-20px,0,0);
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;

}

.nao-aparece {
  visibility: hidden;
  position: absolute;
  height: 0;
}

